<div class="greeting">
        <h1>Greetings!</h1>
    </div>
    <div class="error">
        <h4> {{messages.error}}</h4>
    </div>
    <div class="success">
        <h4> {{messages.success}}</h4>
    </div>
    {{!-- <div class="names-greeted">
        <h2><a href="/greeted">Names greeted</a></h2>
    </div>
    <div>
        <form action="/count" method="POST">
            <div class="counter">
                {{counter}}
            </div>
        </form>
    </div> --}}
    <div class="">
        <form action="/greet" method="POST">
            <div class="names-greeted">
                <h2><a href="/greeted">Names greeted: {{counter}}</a></h2>
            </div>
            <div class="name-input">
                <input type="text" name="name" class="name" placeholder="Enter a name" value="">
            </div>
            <h3>Select Greeting Language</h3>
           <label class="">
                <input type="radio" name="language" value="english" class="language">
                <span class="label-body">English</span>
            </label>
            <label class="">
                <input type="radio" name="language" value="french" class="language">
                <span class="label-body">French</span>
            </label>
            <label class="">
                <input type="radio" name="language" value="sepedi" class="language">
                <span class="label-body">Sepedi</span>
            </label>
            <div class="buttons">
                <button type="submit">Greet!</button>
            </div>
            <div class="name-display">
                <h1>{{greetMessage}}</h1>
            </div>
        </form>
        <form action="/reset" method="POST">
            <input type="submit" value="Reset counter"></input>
        </form>
    </div>
